<% @page_title = ['Profile', 'Edit', 'Password'].join(' - ') %>

<div class="crown-settings-edit-container">
  <div class="crown-settings-edit-card">
    <h5>Edit Password</h5>
    <%= form_for @user, url: profile_path(section: :password) do |f| %>
      <%= render 'errors', user: @user %>
      <div class="crown-settings-edit-input-grp">
        <%= f.password_field :password %>
        <label for="password">Enter new New Password</label>
      </div>
      <div class="crown-settings-edit-input-grp">
        <%= f.password_field :password_confirmation %>
        <label for="password_confirmation">Enter new Password Confirmation</label>
      </div>
      <button type="submit" class="btn crown-btn crown-btn-lg crown-btn-blue">Edit</button>
    <% end %>
  </div>
</div>