<section class="crown-landing d-flex flex-column justify-content-center align-items-start">
  <div class="crown-container">
    <div class="row">
      <div class="col d-flex flex-column justify-content-center align-items-start pb-lg-5">
        <h2 class="pb-3">Start your rewards wallet <strong>for free</strong></h2>
        <p class="pb-3">Shop online and earn rewards</p>
        <button class="btn crown-btn crown-btn-lg crown-btn-blue">Create my Crownbits wallet</button>
      </div>
      <div class="col-lg-7 d-none d-lg-block">
        <%= image_tag 'placeholder-image.png', alt: 'Plaeholder' %>
      </div>
    </div>
  </div>
</section>
