<section class="crown-how-it-works">
  <div class="image">
    <%= image_tag("how-it-works-img.svg") %>
  </div>
  <div class="content px-5">
  <h3 class="h2"><strong>How it works</strong></h3>

  <p class="py-4">
    Crownbits is a loyalty platform that works with participating brands to provide users cash-back when shopping online. Once you purchase an item the store pays us and then we pay you. After your wallet is rewarded you can redeem your rewards with our cash-back wallet options.
    <br/>
    <br/>
    Learn more <a class="crown-link" href="#">here.</a>
  </p>

  <button class="btn crown-btn crown-btn-lg crown-btn-blue">Create my Crownbits wallet</button>
  </div>
</section>