<!-- COINDESK BANNER -->
<div class="coindesk-info-banner text-light">
  <div class="info">
    <div class="info-group">
      <p class="coin-name"><strong>Bitcoin</strong></p>
      <p class="time">24h</p>
      <!-- change class to text-success if % is positive -->
      <p class="coin-value text-danger">$17,791.39</p>
      <p class="percentage text-danger">-2.23%</p>
    </div>
    <div class="info-group">
      <p class="coin-name"><strong>Ethereum</strong></p>
      <p class="time">24h</p>
      <p class="coin-value text-danger">$543.86</p>
      <p class="percentage text-danger">-2.54%</p>
    </div>
    <div class="info-group">
      <p class="coin-name"><strong>XRP</strong></p>
      <p class="time">24h</p>
      <p class="coin-value text-danger">$0.549757</p>
      <p class="percentage text-danger">-2.54%</p>
    </div>
  </div>
  <p>Powered by <strong>Coinesk</strong></p>
</div>