<footer class="crown-footer text-white pb-5" style="background-image: url('<%= asset_path 'footer-img.png' %>');">
  <div class="crown-container h-100 pb-md-5">
    <div class="row h-100 align-items-end">
      <div class="col-12 col-lg-4 col-xl-3 pr-5">
        <p class="pb-5">Just shop at our participating online stores and earn cash-back. Get paid to shop online! Shop and earn gift-cards, bitcoin and more!</p>
        <p>©2020 by CROWNBITS, Inc 2020 All Rights Reserved</p>
      </div>
      <div class="col-12 col-lg-4 col-xl-3">
        <h6 class="pb-3"><strong>Contact Info</strong></h6>
        <p>Location:  1100 King Street W. Toronto, ON M6K 1E6
          <br>
          <br>
          Email:  info@crwnbits.com
          <br>
          <br>
          Business Hours:   10:00am - 6:00pm EST
        </p>
        <div class="social-icons">
          <a href="#" class="mr-2">
            <%= image_tag("facebook.svg") %>
          </a>
          <a href="#">
            <%= image_tag("instagram.svg") %>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>